html {
  scroll-behavior: smooth;
}

body{
  padding-bottom: 1200px;
  margin: 0;
  position: relative;
  height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}

.uptool-container{
  width: 100%;
}

.uptool{
  position: absolute;
  top: 40px;
  right: 90px;
  font-family: gotu, sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 6px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  letter-spacing: 3px;
color: #000000;
text-transform: uppercase;
}

.responsive-container{
  display: flex;
  flex-direction: column;
  gap: 288px;
  position: relative;
  top: 260px;;
  padding-bottom: 192px;
}

.toolstyle-active{
  opacity: 1;
}

.toolstyle{
  opacity: 0.3;
}

.main-section{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main-style{
  display: block ;
  font-size: 90px;
  font-family: 'Museo Sans Rounded', sans-serif;
  text-transform: lowercase;
  font-weight: 500;
}

.uiux-style{
  display: block;
  font-size: 40px;
  font-family: gotu, sans-serif;
  font-weight: 100;
  letter-spacing: 6px;
  text-transform: lowercase;
  padding-bottom: 44px;
}

.line{
  width: 384px;
  height: 57px;
  border: 1px solid var(--unnamed-color-000000);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: gotu, sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2.7px;
  position: relative;
  transition: all 0.4s ease-out;
}

.line:hover{
  background: #FFC899 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  border: 0;
  position: relative;
}

.line:active{
  background: #FFEB99 0% 0% no-repeat padding-box;
  border: 0;
  position: relative;
}

.titel-projects{
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: gotu, sans-serif;
  font-weight: 100;
  letter-spacing: 6px;
  text-transform: lowercase;
  padding-bottom: 22px;
  }

  .projects-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .project-solo-container{
    width: 234px;
    height: 384px;
    column-gap: 100px,70px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .color-oreng{
    position: absolute;
    top: -42.2071533203125px;
    left: -96.51513671875px;
  }

  .color-yellow{
    position: absolute;
    top: 472px;
    right: 0;
  }

  .color-yellow:hover{
    opacity: 0.8;
  }

  @media screen and (max-width: 501px){

    .main-style{
      font-size: 62px;
    }

    .uiux-style{
      font-size: 28px;
    }

    .line{
      width: 297px;
    }

    .projects-container{
      flex-direction: column;
    }

    .titel-projects{
      font-size: 36px;
    }

    .name-proj-style{
      font-size: 28px;
    }

    .disctibtion-style{
      font-size: 16px;
    }

    .uiux-style{
      padding-bottom: 26px;
    }

    .color-yellow{
      top: 600px;
    }

    .responsive-container{
      top: 340px;
    }

    .uptool-container{
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .uptool{
      position: relative;
  top: 39px;
  font-size: 15px;
  right: 0;

  z-index: 1000;
  gap: 38px;
  


    }

    .line{

      font-size: 15px;

    }

    .disctibtion-style-about-me{
width: 80%; !important
    }


    

  }
    
  

  .logo-style{
    height: 73px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
  }



  .logo-style-i-k{
    height: 73px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  .logo-style-i-k:hover{
    background-image: url(pic/i-k-h.svg);
    width: 100%;
    height: 73px;
  }

  .name-proj-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 53px;
    font-size: 32px;
    font-family: gotu, sans-serif;
    font-weight: 100;
    letter-spacing: 4.8px;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 26px;
  }

  .name-proj-style-s-f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 53px;
    font-size: 32px;
    font-family: gotu, sans-serif;
    font-weight: 100;
    letter-spacing: 4.8px;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 26px;
    
  }

  .name-proj-style-s-f a:hover{
    color: #ACE3C1;
    transition: all 0.4s ease-out;
  }

  .name-proj-style-i-k{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 53px;
    font-size: 32px;
    font-family: gotu, sans-serif;
    font-weight: 100;
    letter-spacing: 4.8px;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 26px;
  }

  .name-proj-style-i-k a:hover{
    color: #FDDB87;
    transition: all 0.4s ease-out;
  }

  .name-proj-style-t-b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 53px;
    font-size: 32px;
    font-family: gotu, sans-serif;
    font-weight: 100;
    letter-spacing: 4.8px;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 26px;
  }

  .name-proj-style-t-b a:hover{
    color: #FF99C8;
    transition: all 0.4s ease-out;
  }

  .name-proj-style-m-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 53px;
    font-size: 32px;
    font-family: gotu, sans-serif;
    font-weight: 100;
    letter-spacing: 4.8px;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 26px;
  }

  .name-proj-style-m-c a:hover{
    color: #E4C1F9;
    transition: all 0.4s ease-out;

  }

  



  .main-section-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 144px;


  }

  .disctibtion-style {
    height: 73px;
    font-size: 20px;
    font-family: gotu, sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: lowercase;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    line-height: 60px;
  }

  .disctibtion-style-lets {
    height: 73px;
    font-size: 20px;
    font-family: gotu, sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: lowercase;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    line-height: 60px;
    color: #5A7AFF;
  }

  .disctibtion-style-about-me{
    font-size: 20px;
    font-family: gotu, sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: lowercase;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    line-height: 45px;
    width: 50%;
    position: relative;
  }

  @font-face {
    font-family:gotham;
    src: url(fonts/Gotham-Light.otf);
  }

  .footer{
    display: flex;
    width: 100%;
    background-color: #151515;
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-direction: column;
    color: white;
    position: relative;
    margin-top: 220px;

  }

  .footer-text{
    text-align: center;
    font-size: 18px;
    font-family: gotu, sans-serif;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  .footer-text-c{
    text-align: center;
    font-size: 17px;
    font-family: gotu, sans-serif;
    text-align: center;
    letter-spacing: 2.85px;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #FFFFFF;
    
  }

  @import url('https://fonts.cdnfonts.com/css/gotham');



  .footer-text-num{
    text-align: center;
    font-size: 18px;
    font-family: 'Gotham', sans-serif;
    text-align: center;
    letter-spacing: 2.85px;
    letter-spacing: 3px;
    color: #FFFFFF;
    font-weight: 500;
  }

  .responcive-container-about{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;

    width: 100%;
    justify-content: space-around;
    align-items: center;


  }

  .pic-me{
    width: 178px;
    height: 178px;
    border: 1px solid ;
    border-radius: 50%;

  }

  .list-all{
    display: flex;
    flex-direction: column;
    gap: 160px;

  }


  
