.cyercle-a{
  position: absolute;
  border-radius: 50%;
  top: -100.23942565917969px;
  left: 391px;
  width: 200px;
  height: 200px;
  transform: matrix(0.86, -0.52, 0.52, 0.86, 0, 0);
  background: transparent linear-gradient(180deg, #F796FF 0%, #95F3FF 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #FFFFFF67;
}

.cyercle-b{
  position: absolute;
  border-radius: 50%;
  top: 992px;
  left: -244px;
  width: 352px;
  height: 352px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  background: transparent linear-gradient(180deg, #4E6AFF 0%, #D9A5FF 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #FFFFFF67;
  opacity: 0.83;
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
}

.cyercle-c{
  position: absolute;
  border-radius: 50%;
  top: 968px;
  right: -113px;
  width: 200px;
  height: 200px;
  transform: matrix(0.86, -0.52, 0.52, 0.86, 0, 0);
  background: transparent linear-gradient(180deg, #F796FF 0%, #95F3FF 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #FFFFFF67;
}

.cyercle-d{
  position: absolute;
  border-radius: 50%;
  top: 1739px;
  left: -100.2392578125px;
  width: 200px;
  height: 200px;
  transform: matrix(0.86, -0.52, 0.52, 0.86, 0, 0);
  background: transparent linear-gradient(180deg, #F796FF 0%, #95F3FF 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #FFFFFF67;
}

.cyercle-e{
  position: absolute;
  border-radius: 50%;
  top: 1685px;
  right: -181px;
  width: 352px;
  height: 352px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  background: transparent linear-gradient(180deg, #4E6AFF 0%, #D9A5FF 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #FFFFFF67;
  opacity: 1;
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
}

.cyercle-f{
  position: absolute;
  border-radius: 50%;
  top: 70px;
  right: -37px;
  width: 99px;
  height: 99px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  background: transparent linear-gradient(180deg, #4E6AFF 0%, #D9A5FF 100%) 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF38;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}



body{
  margin: 0;
  background-color: #D8D6DC;
  padding-bottom: 1968px;
  /* fix horizontal scroll */
  overflow-x: hidden;     
  max-width: 100%;
}

.main-container{

  position: absolute;
  width: 100vw;
  top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-fly{
  position: absolute;
  width: 319px;
  top: 136px;
  left: -294px;
  height: 190px;
  background: transparent url('img/pexels-mitchell-luo-3707669.png') 0% 0% no-repeat padding-box;
  box-shadow: 20px 20px 20px #00000029;
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF2C;
  border-radius: 13px;
  opacity: 1;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  }

.img-style1{
  display: flex;
  width: 390px;
  height: 844px;
  position: relative;
}

.img-style2{
  display: flex;
  width: 390px;
  height: 1565.59px;
  position: relative;
  top: 128px;
}

.img-style3{
  display: flex;
  width: 390px;
  height: 844px;
}


@media (max-width: 1166px){

  .img-style2{
    top: 0;
}

.main-container{
  gap: 22px;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  overflow-x: hidden;
  max-width: 100%;
}
}

@media (max-width: 400px){

    .img-style1{
      width: 360px;
      height: 778.41px;

    }

    .img-style2{
    width: 360px;
    height: 1442.36px;
    }


    .img-style3{
      width: 360px;
      height: 716.6px;
    }



}

